POSTGRES_USER=postgres
POSTGRES_PASSWORD=CAMBIA_ESTA_PASSWORD
POSTGRES_DB=hotel_park_plaza
POSTGRES_PORT=5432

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=CAMBIA_ESTA_PASSWORD
DB_NAME=hotel_park_plaza
DATABASE_URL=postgresql://postgres:CAMBIA_ESTA_PASSWORD@postgres:5432/hotel_park_plaza?schema=public

JWT_SECRET=CAMBIA_ESTE_SECRETO
BACKEND_PORT=3000
FRONTEND_PORT=5173
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000/api
